.App {
  min-height: 100vh;
  width: 95vw;
  margin: auto;
  background-color: #EEE;
  padding: 1vw;
}

.productCont{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 1%;
}

.footer {
  color: black
}

.myNav {
  border-bottom: 1px solid gray;
}

.navButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.3rem;  
}

.browseIcon {
  margin-left: 1vw;
}

.returnIcon {
  margin-right: 1vw;
}
